@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Comment App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>    
    <div class="container">
        @*<div id="LoginForm">
            <label>User Name: </label>
            <input type="text" id="UserName"/>
            <input type="button" id="LoginSubmit" value="Login" class="btn btn-warning"/>
        </div>*@
        <div id="app" class="comment-panel">

        </div>
        
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/bundle.js"></script>
    
</body>
</html>
